.app{
  position: relative;
  padding: 140px 0;
  background-color: var(--blue);
  z-index: -2;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 373px;
    height: 100%;
    background-image: url(../../img/bg13.png);
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: -1;
    @include small-header{
      left: -100px;
    }
    @include small-tablet{
      left: -200px;
    }
    @include mobile{
      background-image: none;
    }
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 373px;
    height: 100%;
    background-image: url(../../img/bg14.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: -1;
    @include for-bg{
      right: -100px;
    }
    @include small-header{
      right: -200px;
    }
    @include small-tablet{
      right: -250px;
    }
    @include mobile{
      background-image: none;
    }
  }
  @include mobile{
    padding: 70px 0;
  }
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  span{
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: var(--acent-color);
    border: 1px solid var(--acent-color);
    border-radius: 4px;
    padding: 3px 6px;
  }
  &__title{
    max-width: 500px;
    z-index: 10000;
  }
  &__descr{
    margin-bottom: 140px !important;
  }
  &__button{
    position: relative;
    padding: 20px 36px !important;
    margin-bottom: 24px;
    &::after{
      content: '';
      position: absolute;
      top: -70px;
      right: -70px;
      width: 120px;
      height: 120px;
      background-image: url(../../img/bg15.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__text{
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--brezent);
  }
  &__social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
