.header{
  padding: 28px 0;
  background-color: var(--linen);
  &__container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__img{
    margin-right: 123px;
    order: 0;
  }
  &__buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    order: 1;
    @include small-header{
      order: 1;
    }
    @include mobile-burger{
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
