.hero-card{
  font-size: 0;
  &__content{
    position: relative;
  }
  &__imgs{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__text{
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.08em;
    color: var(--pastel);
  }
}
