.membership{
  padding: 140px 0;
  @include mobile{
    padding: 70px 0;
  }
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -220px;
      left: 50%;
      width: 150px;
      height: 150px;
      background-image: url(../../img/connect1.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 200;
      @include mobile{
        bottom: -120px;
        width: 100px;
        height: 100px;
      }
    }
  }
  &__title{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: -150px;
      right: -100px;
      width: 240px;
      height: 240px;
      background-image: url(../../img/bg6.png);
      background-size: contain;
      background-repeat: no-repeat;
      @include small-mobile{
        background-image: none;
      }
    }
  }
  &__content{
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
    row-gap: 80px;
    column-gap: 20px;
    @include mobile{
      row-gap: 30px;
    }
  }
  &__card{
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include small-tablet{
      grid-column: 6 span;
    }
    @include mobile{
      grid-column: 12 span;
    }
  }
  &__subtitle{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--dark-color);
  }
  &__text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);
  }
  &__btn{
    margin: 0 auto;
    padding: 20px 36px !important;
  }
}
