.nav{
  order: 1;
  @include small-header{
    order: 2;
    margin: 0 auto;
    margin-top: 20px;
  }
  @include mobile-burger{
    position: absolute;
    left: -500px;
  }
  &__list{
    display: flex;
    align-items: center;
    gap: 60px;
    @include mobile-burger{
      flex-direction: column;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
    svg{
      margin-left: 4px;
      @include mobile-burger{
       display: none;
      }
    }
    @include mobile-burger{
      font-size: 30px;
    }
  }
}
.active-n{
  padding: 67px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--linen);
  z-index: 10000;
  transition: left 0.5s ease;
}
