.reviews{
  position: relative;
  padding: 140px 0 100px 0;
  background-color: var(--blue);
  @include mobile{
    padding: 70px 0;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -75px;
    left: 50%;
    width: 150px;
    height: 150px;
    background-image: url(../../img/connect1.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 200;
    @include mobile{
      bottom: -50px;
      width: 100px;
      height: 100px;
    }
  }
  &__container{
  }
  &__wraper{
    padding-left: max(15px, calc((100% - var(--content-width)) / 2));
  }
  &__title{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: -60px;
      left: 100px;
      width: 105px;
      height: 105px;
      background-image: url(../../img/bg5.png);
      background-size: contain;
      background-repeat: no-repeat;
      @include tablet{
        background-image: none;
      }
    }
  }
  &__descr{
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__descr{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: var(--brezent);
  }
  &__forging{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 95px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--acent-color);
  }
  &__text{
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    color: var(--dark-color);
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__swiper{
    margin-top: 100px;
    margin-bottom: 60px;
  }
  &__swiper-slide{
    max-width: 540px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-color);
  }

  &__navigation{
    :not(:last-child){
      margin-right: 25px;
    }
  }
}
