.sponsor{
  padding: 140px 0;
  @include mobile{
    padding: 70px 0;
  }
  &__container{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -220px;
      left: 50%;
      width: 150px;
      height: 150px;
      background-image: url(../../img/connect1.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 200;
      @include mobile{
        bottom: -120px;
        width: 100px;
        height: 100px;
      }
    }
  }
  &__title{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: -70px;
      left: 160px;
      width: 120px;
      height: 120px;
      background-image: url(../../img/bg8.png);
      background-size: contain;
      background-repeat: no-repeat;
      @include tablet{
        background-image: none;
      }
    }
  }
  &__content{
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      bottom: -50px;
      left: -80px;
      width: 120px;
      height: 120px;
      background-image: url(../../img/bg9.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: -95px;
      right: -100px;
      width: 200px;
      height: 200px;
      background-image: url(../../img/bg10.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
    @include tablet{
      row-gap: 50px;
    }
  }
  &__column{
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
    @include tablet{
      grid-column: 12 span;
    }
  }
  &-card{
    height: 100%;
    border: 1.50px solid var(--dark-color);
    border-radius: 8px;
    z-index: 1000;
    background-color: var(--light-color);
  }
  &-card__content{
    padding: 60px 40px 30px 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    @include mobile{
      padding: 30px 20px 20px;
    }
  }
  &-card__second{
    padding: 40px;
    height: 100%;
    border: 1.50px solid var(--dark-color);
    border-radius: 8px;
    background-color: var(--light-color);
    @include mobile{
      padding: 30px 20px 20px;
    }
  }
  &-card__info{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      padding: 3px 6px;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 12px;
      line-height: 160%;
      color: var(--light-color);
      border: 1px solid var(--acent-color);
      border-radius: 4px;
      background: var(--acent-color);
    }
    @include tablet{
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &-card__title{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--dark-color);
  }
  &-card__descr{
    margin: 0;
    margin-bottom: 70px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--brezent);
  }
  &-card__bottom{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-card__btn{
    padding: 20px 36px !important;
  }
  &-card__price-info{
    display: flex;
    flex-direction: column;
  }
  &-card__price{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--acent-color);
  }
  &-card__month{
    font-size: 14px;
    line-height: 160%;
    color: var(--brezent);
  }
  &-card__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-card__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-card__item{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
    &::before{
      content: '•';
      margin-right: 5px;
    }
  }
  &-card__included{
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: var(--brezent);
  }
}
