<section class="episodes">
  <div class="container episodes__container">
    <h1 class="title episodes__title">Recent Episodes</h1>
    <p class="descr episodes__descr">Available on your favorite platform</p>

    <div class="episodes__content">
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes1.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes1.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 6
            </p>
            <h2 class="episodes-card__title">Pandemic Becoming Endemic</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>covid-19</span><span>health</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes2.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes2.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 5
            </p>
            <h2 class="episodes-card__title">Tesla Autopilot Controversy</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>automation</span><span>tech</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes3.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes3.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 4
            </p>
            <h2 class="episodes-card__title">Women's Rights? Is it alright?</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>women’s rights</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes4.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes4.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 3
            </p>
            <h2 class="episodes-card__title">How to Deal with Self–Confidence</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>self-esteem</span><span>health</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes5.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes5.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 2
            </p>
            <h2 class="episodes-card__title">Type of Social Classes of People</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>social class</span><span>wealth</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
      <article class="episodes-card">
        <div class="episodes-card__top">
          <picture>
            <source srcset="../img/episodes6.webp" type="image/webp">
            <img loading="lazy" src="../img/episodes6.png" class="episodes-card__image" width="166" height="166" alt="">
          </picture>
          <div class="episodes-card__content">
            <p class="episodes-card__number">
              Eps. 1
            </p>
            <h2 class="episodes-card__title">Are you a Perplexed Mind Person?</h2>
            <p class="episodes-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
              ultrices odio. </p>
          </div>
        </div>
        <div class="episodes-card__bottom">
          <div class="episodes-card__tag">
            <span>mind-behaviour</span><span>health</span>
          </div>
          <div class="episodes-card__hosted">
            <span><b>Hosted by:</b></span>
            <div class="episodes-card__images">
              <img src="../img/episodes7.png" alt="" width="25px">
              <img src="../img/episodes8.png" alt="" width="26px">
            </div>
          </div>
        </div>
      </article>
    </div>

    <button class="btn-black btn-reset episodes__btn">BROWSE ALL EPISODES</button>
  </div>
</section>