<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="../img/logo.png" alt="Логотип сайта" width=" 74" height="74" class="header__img">
    </a>
    <div class="burger header__burger">
      <span></span>
    </div>
    @include('nav.html')
    <div class="header__buttons">
      <button class="btn-white btn-reset header__btn">RECENT EPISODES</button>
      <button class="btn-black btn-reset header__btn">SUBSCRIBE</button>
    </div>
  </div>
</header>
