<section class="news">
  <div class="container news__container">
    <h1 class="title news__title">Article and News</h1>
    <p class="descr news__descr">News, tips, tricks and more</p>

    <div class="news__content">
      <article class="news-card">
        <picture>
          <source srcset="../img/news1.webp" type="image/webp">
          <img loading="lazy" src="../img/news1.png" class="news-card__image" width="538" height="320" alt="">
        </picture>
        <div class="news-card__content">
          <p class="news-card__info">PODCAST</p>
          <h2 class="news-card__title">Setup your own podcast</h2>
          <p class="news-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minimvel iam, quis nostrud exercitation ullamco
            laboris...</p>
          <div class="news-card__bottom">
            <div class="news-card__categories">
              <span>business</span><span>startup</span>
            </div>
            <p class="news-card__date">Sep 14, 2021</p>
          </div>

        </div>
      </article>
      <article class="news-card">
        <picture>
          <source srcset="../img/news2.webp" type="image/webp">
          <img loading="lazy" src="../img/news2.png" class="news-card__image" width="538" height="320" alt="">
        </picture>
        <div class="news-card__content">
          <p class="news-card__info">TIPS & TRICK</p>
          <h2 class="news-card__title">Doodle artwork 101</h2>
          <p class="news-card__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minimvel iam, quis nostrud exercitation ullamco
            laboris...</p>
          <div class="news-card__bottom">
            <div class="news-card__categories">
              <span>art</span><span>creative</span><span>tips and tricks</span>
            </div>
            <p class="news-card__date">Sep 12, 2021</p>
          </div>
        </div>
      </article>
    </div>
    <button class="btn-black btn-reset news__btn">BROWSE ALL</button>
  </div>
</section>
