<section class="reviews">
  <div class="container reviews__container">
    <h1 class="title reviews__title">What our listeners say</h1>
    <p class="reviews__descr">Their experience throughout every platform</p>
  </div>
  <div class="reviews__wraper">
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper reviews__swiper-wrapper">
        <div class="swiper-slide reviews__swiper-slide">
          <p class="reviews__forging">“</p>
          <p class="reviews__text">
            Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna
            aliqua.
          </p>
          <div class="reviews__info">
            <img src="../img/reviews1.png" alt="" width="48">
            <span>Luna lovegood,</span>
            <img src="../img/reviews4.svg" alt="" width="16">
            <span><b>Spotify</b></span>
          </div>
        </div>
        <div class="swiper-slide reviews__swiper-slide">
          <p class="reviews__forging">“</p>
          <p class="reviews__text">
            Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna
            aliqua.
          </p>
          <div class="reviews__info">
            <img src="../img/reviews2.png" alt="" width="48">
            <span>Emily Blunt,</span>
            <img src="../img/reviews5.svg" alt="" width="16">
            <span><b>Google Podcast</b></span>
          </div>
        </div>
        <div class="swiper-slide reviews__swiper-slide">
          <p class="reviews__forging">“</p>
          <p class="reviews__text">
            Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna
            aliqua.
          </p>
          <div class="reviews__info">
            <img src="../img/reviews3.png" alt="" width="48">
            <span>Mia Winters,</span>
            <img src="../img/reviews6.svg" alt="" width="16">
            <span><b>Apple Podcast</b></span>
          </div>
        </div>
        <div class="swiper-slide reviews__swiper-slide">
          <p class="reviews__forging">“</p>
          <p class="reviews__text">
            Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna
            aliqua.
          </p>
          <div class="reviews__info">
            <img src="../img/reviews1.png" alt="" width="48">
            <span>Luna lovegood,</span>
            <img src="../img/reviews4.svg" alt="" width="16">
            <span><b>Spotify</b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__navigation">
      <button class="btn-reset reviews__btn reviews__btn-next">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M20 1.50049C9.784 1.50049 1.5 9.78249 1.5 20.0005C1.5 30.2165 9.784 38.5005 20 38.5005C30.216 38.5005 38.5 30.2165 38.5 20.0005C38.5 9.78249 30.216 1.50049 20 1.50049Z"
            stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M22.8847 13.0581L15.9127 20.0001L22.8847 26.9421" stroke="black" stroke-width="2.5"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="btn-reset reviews__btn reviews__btn-prev">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M20 38.4996C30.216 38.4996 38.5 30.2176 38.5 19.9996C38.5 9.78363 30.216 1.49963 20 1.49963C9.784 1.49963 1.5 9.78363 1.5 19.9996C1.5 30.2176 9.784 38.4996 20 38.4996Z"
            stroke="#CD4631" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M17.1153 26.942L24.0873 20L17.1153 13.058" stroke="#CD4631" stroke-width="2.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>


</section>
