<section class="sponsor">
  <div class="container sponsor__container">
    <h1 class="title sponsor__title">Become our sponsor</h1>
    <p class="descr sponsor__descr">Get exclusive episodes, merch and more</p>

    <div class="sponsor__content">
      <div class="sponsor__column">
        <article class="sponsor-card">
          <div class="sponsor-card__content">
            <div class="sponsor-card__info">
              <h2 class="sponsor-card__title">Member</h2>
            </div>
            <p class="sponsor-card__descr">Lorem ipsum dolor sit amet consectet
              cing elit, sed do eiusmod tempor.</p>
            <div class="sponsor-card__bottom">
              <button class="btn-black btn-reset sponsor-card__btn">SUBSCRIBE</button>
              <div class="sponsor-card__price-info">
                <p class="sponsor-card__price">$9.99</p>
                <span class="sponsor-card__month">/month</span>
              </div>
            </div>
          </div>
        </article>
        <article class="sponsor-card__second">
          <p class="sponsor-card__included">What’s included:</p>
          <ul class="sponsor-card__list list-reset">
            <li class="sponsor-card__item">Exclusive Content</li>
            <li class="sponsor-card__item">5% Discount on Merch</li>
            <li class="sponsor-card__item">Join the Community</li>
            <li class="sponsor-card__item">Livestreaming Access</li>
          </ul>
        </article>
      </div>

      <div class="sponsor__column">
        <article class="sponsor-card">
          <div class="sponsor-card__content">
            <div class="sponsor-card__info">
              <h2 class="sponsor-card__title">Family</h2>
              <span>MOST POPULAR</span>
            </div>
            <p class="sponsor-card__descr">Lorem ipsum dolor sit amet consectet
              cing elit, sed do eiusmod tempor.</p>
            <div class="sponsor-card__bottom">
              <button class="btn-black btn-reset sponsor-card__btn">SUBSCRIBE</button>
              <div class="sponsor-card__price-info">
                <p class="sponsor-card__price">$14.99</p>
                <span class="sponsor-card__month">/month</span>
              </div>
            </div>
          </div>
        </article>
        <article class="sponsor-card__second">
          <p class="sponsor-card__included">What’s included:</p>
          <ul class="sponsor-card__list list-reset">
            <li class="sponsor-card__item"><b>Everything in Tier 1</b></li>
            <li class="sponsor-card__item">Free tickets to Events</li>
            <li class="sponsor-card__item">Limited Edition Merch</li>
            <li class="sponsor-card__item">Promote your Product</li>
            <li class="sponsor-card__item">Request Topic</li>
          </ul>
        </article>
      </div>

      <div class="sponsor__column">
        <article class="sponsor-card">
          <div class="sponsor-card__content">
            <div class="sponsor-card__info">
              <h2 class="sponsor-card__title">Official</h2>
            </div>
            <p class="sponsor-card__descr">Lorem ipsum dolor sit amet consectet
              cing elit, sed do eiusmod tempor.</p>
            <div class="sponsor-card__bottom">
              <button class="btn-black btn-reset sponsor-card__btn">SUBSCRIBE</button>
              <div class="sponsor-card__price-info">
                <p class="sponsor-card__price">$29.99</p>
                <span class="sponsor-card__month">/month</span>
              </div>
            </div>
          </div>
        </article>
        <article class="sponsor-card__second">
          <p class="sponsor-card__included">What’s included:</p>
          <ul class="sponsor-card__list list-reset">
            <li class="sponsor-card__item"><b>Everything in Tier 2</b></li>
            <li class="sponsor-card__item">Exclusive Badge on Livestreaming</li>
            <li class="sponsor-card__item">Become an Official Sponsor</li>
            <li class="sponsor-card__item">Early Access to All Episodes</li>
            <li class="sponsor-card__item">Free Stikers and Merch</li>
          </ul>
        </article>
      </div>
    </div>

  </div>
</section>