<section class="supported">
  <div class="container supported__container">
    <p class="supported__text">Supported by:</p>

    <div class="supported__supports">
      <picture>
        <source srcset="../img/supported-2.webp" type="image/webp">
        <img loading="lazy" src="../img/supported-2.png" class="image" width="275" height="84" alt="">
      </picture>
      <picture>
        <source srcset="../img/supported-3.webp" type="image/webp">
        <img loading="lazy" src="../img/supported-3.png" class="image" width="275" height="84" alt="">
      </picture>
      <picture>
        <source srcset="../img/supported-4.webp" type="image/webp">
        <img loading="lazy" src="../img/supported-4.png" class="image" width="275" height="84" alt="">
      </picture>
    </div>

  </div>
</section>
