<section class="talk">
  <div class="container talk__container">
    <div class="talk__top">
      <h1 class="title talk__title">Talk. Listen. Get inspired by every minute of it.</h1>
      <div class="talk__content">
        <div class="talk__column">
          <img src="./img/talk1.svg" alt="" class="talk__img" width="275" height="275">
          <p class="talk__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio.
          </p>
        </div>
        <div class="talk__column">
          <img src="./img/talk2.svg" alt="" class="talk__img" width="275" height="275">
          <p class="talk__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio.
          </p>
        </div>
      </div>
    </div>
    <div class="talk__bottom">
      <p class="talk__forging">“</p>
      <h2 class="talk__subtitle">One of the best daily podcasts that covers every topic on Spotify.</h2>
      <div class="talk__author">
        <img src="./img/talk4.png" alt="" width="48" height="96">
        <span>John Smith,</span>
        <img src="./img/talk5.svg" alt="" width="16">
        <span><b>Social Community Manager</b></span>
      </div>
    </div>
  </div>
</section>