// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat Alternates", sans-serif;
  --content-width: 1110px;
  --content-fluid-width: 1410px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --acent-color: #cd4631;
  --brezent: #4d4d4d;
  --linen: #f7ede8;
  --pastel: #81adc8;
  --blue: #edf3f7;
}
